# Editors
.vscode/
.idea/

# Vagrant
.vagrant/

# Mac/OSX
.DS_Store

# Windows
Thumbs.db

# Source for the following rules: https://raw.githubusercontent.com/github/gitignore/master/Python.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mkdocs documentation
/site

# Personal files
# !/private/embeddings/**/.gitkeep
/private/*/**
!/private/**/.gitkeep
!/private/embeddings/**
/private/embeddings/*/*/*
!/private/embeddings/**/.gitkeep
!private/embeddings/resume/processed/tmp/
!private/embeddings/knowledge/processed/tmp/

temp/
local.py
.~*


# Settings - Only keep the default settings, whose prefix is 0_
settings_files/[!0]*
test_data/

# Ignore Poetry files
poetry.lock
__pypackages__/
*.code-workspace

